{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container col-lg-6">
        <br>
        <div class="justify-content-center">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required
                           autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <br>
                    <button class="btn btn-light " type="submit">
                        Log in
                    </button>
                </form>
            </div>
            <div class="col-6">
                <p>You don't have an account ? Please Register</p>
                <a href="{{ path('app_register') }}" class="btn btn-light">Register</a>
            </div>
        </div>
    </div>
{% endblock %}
