{% extends 'base.html.twig' %}

{% block title %}Client Registration{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container col-lg-6">
        <br>
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Client Creation</h1><br>
                {{ form_start(clientForm) }}


                <label for="inputEmail">Last Name</label>
                {{ form_widget(clientForm.lastName,{'attr': {'class': 'form-control'}}) }}
                <label for="inputPassword">First Name</label>
                {{ form_widget(clientForm.firstName,{'attr': {'class': 'form-control'}}) }}
                <label for="inputPassword">Address</label>
                {{ form_widget(clientForm.address,{'attr': {'class': 'form-control'}}) }}
                <div class="row">
                    <div class="col-4">
                        <label for="inputPassword">Postcode</label>
                        {{ form_widget(clientForm.postcode,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-8">
                        <label for="inputPassword">City</label>
                        {{ form_widget(clientForm.city,{'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <label for="inputPassword">Phone Number</label>
                {{ form_widget(clientForm.phone,{'attr': {'class': 'form-control'}}) }}

                <br>
                <button class="btn btn-light" type="submit">Register</button>
                {{ form_end(clientForm) }}
            </div>
        </div>

    </div>
{% endblock %}
