{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container col-lg-6">
        <br>
        <div class="justify-content-center">
            <h1>Register</h1>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_start(registrationForm) }}


                <div class="my-custom-class-for-errors">
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <label for="inputEmail">Email</label>
                {{ form_widget(registrationForm.email,{'attr': {'class': 'form-control'}}) }}
                <label for="inputPassword">Password</label>
                {{ form_widget(registrationForm.plainPassword,{'attr': {'class': 'form-control'}}) }}

                <br>
                <button class="btn btn-light" type="submit">Register</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="col-6">
                <p>You already have an account ?</p>
                <a href="{{ path('app_login') }}" class="btn btn-light">Log in</a>
            </div>
        </div>

    </div>
{% endblock %}
