<div class="justify-content-center text-center row">
    <h2 class="col-12">Ajout d'une pizza</h2>
    {% if pizza is defined %}
        <p class="col-12">{{ pizza.name }} a bien ete ajoute</p>
    {% endif %}
    <div class="col-8">
        {{ form_start(pizzaForm) }}


        <label for="inputEmail">Name</label>
        {{ form_widget(pizzaForm.name,{'attr': {'class': 'form-control'}}) }}
        <label for="inputPassword">Price</label>
        {{ form_widget(pizzaForm.price,{'attr': {'class': 'form-control'}}) }}
        <label for="inputPassword">Description</label>
        {{ form_widget(pizzaForm.description,{'attr': {'class': 'form-control'}}) }}
        <label for="inputPassword">Image Url</label>
        {{ form_widget(pizzaForm.image,{'attr': {'class': 'form-control'}}) }}

        <br>
        <button class="btn btn-light" type="submit">Save</button>
        {{ form_end(pizzaForm) }}
    </div>
</div>