<div class="justify-content-center text-center row">
    <h2 class="col-12">Ajout d'une livreur</h2>
    {% if deliveryMan is defined %}
        <p class="col-12">{{ deliveryMan.firstName }} a bien ete ajoute</p>
    {% endif %}
    <div class="col-8">
        {{ form_start(deliveryManForm) }}


        <label for="inputEmail">First Name</label>
        {{ form_widget(deliveryManForm.firstName,{'attr': {'class': 'form-control'}}) }}
        <label for="inputPassword">Last Name</label>
        {{ form_widget(deliveryManForm.lastName,{'attr': {'class': 'form-control'}}) }}
        <label for="inputPassword">Phone Number</label>
        {{ form_widget(deliveryManForm.phone,{'attr': {'class': 'form-control'}}) }}

        <br>
        <button class="btn btn-light" type="submit">Save</button>
        {{ form_end(deliveryManForm) }}
    </div>
</div>