<ul class="col-3 h-250px border border-light rounded p-4">
    <h3>#{{ command.id }} - {{ command.status.name }}</h3>
    <hr>
    <p>
        This command has been delivered.
    </p>
    <a class="btn btn-info" href="{{ path('admin', {'status':'CLOSE', 'id':command.id}) }}">Close</a>
</ul>