<ul class="col-3 h-250px border border-light rounded p-4">
    <h3>#{{ command.id }} - {{ command.status.name }}</h3>
    <hr>
    {% for pizzaCmd in command.pizzaList %}
        {% if pizzaCmd.pizza is defined and pizzaCmd.pizza is not null %}
            <li>{{ pizzaCmd.pizza.name }} - {{ pizzaCmd.size.name }}</li>
        {% endif %}
    {% endfor %}
    <hr>
    <a class="btn btn-info" href="{{ path('admin', {'status':'PREPARED', 'id':command.id}) }}">Prepared</a>
</ul>