<ul class="col-3 h-250px border border-light rounded p-4">
    <h3>#{{ command.id }} - {{ command.status.name }}</h3>
    <hr>
    {{ command.client.lastName }}
    <br>
    {{ command.client.address }}
    <br>
    {{ command.client.postcode }} - {{ command.client.city }}
    <form action="" method="post">
        <input type="hidden" value="{{ command.id }}" name="id">
        <input type="hidden" value="DELIVERED" name="status">
        <select name="delivery_man">
            {% for delivery in deliveryMen %}
                <option value="{{ delivery.id }}">{{ delivery.firstName }} {{ delivery.lastName }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-info"> Deliver</button>
    </form>
</ul>