body {
    background-color: lightgray;
}

.thumbnail {
    position: relative;
}

.caption div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.h-250px {
    min-height: 250px;
}

.fixed-right {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 10px;
}

.top-75{
    top:75px;
}

.w-15{
    width: 15%;
}