{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container col-8 justify-content-center">
        <div class="text-center">
            <br>
            <h1> Page administrateur</h1>
        </div>
        <div class="row justify-content-center">
            <div class="text-center">
                <h2> Commandes en cours </h2>
            </div>
            <div class="col-12 row p-2">
                {% if commands is defined and commands is not null  and commands is not empty %}
                    {% for command in commands %}
                        {% if command.status is not null and command.status.id > 1 and command.status.id < 5%}
                            {% include 'admin/' ~ command.status.name ~ '.html.twig' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="h-250px">
                        Aucune commande en cours
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                {%  include 'admin/create-pizza.html.twig' %}
            </div>
            <div class="col-6">
                {%  include 'admin/create-delivery-man.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}