{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container col-lg-8">
        <br>
        <div class="row">
            {% for pizza in pizzas %}
                <div class="col-lg-3 col-md-4 col-6 mb-1">
                    <div class="thumbnail text-center">
                        <img class="w-100 pizza-img"
                             src="{{ asset(pizza.image) }}">
                        <div class="caption">
                            <div class="d-flex">
                                <p class="align-self-center ">{{ pizza.description }}</p>
                            </div>
                        </div>
                    </div>
                    <h4>{{ pizza.name }}</h4>
                    <form method="post">
                        <input type="hidden" name="idCmd" value="{{ idCmd }}">
                        <input type="hidden" name="pizza" value="{{ pizza.id }}">
                        <select class="custom-select w-100" name="size">
                            {% for size in sizes %}
                                <option value="{{ size.id }}">{{ size.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-light w-100" type="submit">{{ 'menu.add_to_cart' | trans }}</button>
                    </form>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-danger w-100" type="submit"
                           href="{{ path('delete',{'id':pizza.id}) }}">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="fixed-right container top-75 bg-secondary w-15 p-4 rounded" id="cart">
        <h4> Commande en cours</h4>
        <hr>
        <div id="commands">
            {% if commands is not null %}
                {% for pizzaCmd in commands.pizzaList %}

                    <form method="post">{{ pizzaCmd.pizza.name }}
                        <input type="hidden" name="idCmd" value="{{ idCmd }}">
                        <input type="hidden" name="deleteId" value="{{ pizzaCmd.id }}">
                        <button class="float-right btn btn-danger" type="submit"><i class="fas fa-times"></i></button>
                        <br>
                        <small>{{ pizzaCmd.size.name }}</small>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <a class="btn btn-light" href="{{ path('submitCommand',{'idCmd':idCmd}) }}">Commander</a>
    </div>
{% endblock %}