<div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark col-lg-8">
        <a class="navbar-brand" href="#">
            <img src="slicePizza.svg" alt="Slice Pizza" style="width:40px;">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('menu') }}">La carte</a>
                </li>
            </ul>
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                    </li>
                </ul>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <ul class="form-inline my-2 my-lg-0">
                    <a class="btn btn-success my-2 my-sm-0" href="{{ path('app_logout') }}" type="button">Deconnexion</a>
                </ul>
            {% else %}
                <ul class="form-inline my-2 my-lg-0">
                    <a class="btn btn-success my-2 my-sm-0" href="{{ path('app_login') }}" type="button">Connexion</a>
                </ul>
            {% endif %}
        </div>
    </nav>
</div>