{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container col-lg-8">
        <br>
        <div class="justify-content-center">
            <br>
            <div class="row justify-content-center">
                <br>
                <div class="col-6 text-center">
                    Votre commande est en cours de preparation
                    Merci pour votre confiance,
                </div>
            </div>
        </div>
    </div>
{% endblock %}